```{=html}
<% if (items.length > 0) { %>
    <table>
        <thead>
        <tr>
            <td>Location</td>
            <td>Warning Type</td>
            <td>Status</td>
            <td>Date</td>
        </tr>
        </thead>
        <tbody>
        <% for (const item of items) { %>
            <tr>
                <td><%= item.location %></td>
                <td><a href="<%- item.path %>"><%= item.title %></a></td>
                <td><%= item.ice %></td>
                <td><%= item.date %></td>
            </tr>
        <% } %>
        </tbody>
    </table>
<% } else { %>
    <em>There are currently no air quality warnings in effect.</em>
<% } %>
```
